# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
00_StereoSimpleBox/.vs/StereoSimpleBox/v15/.suo
*.db
*.ipch
*.exp
*.iobj
*.ipdb
*.tlog
*.pdb
*.log
01_StereoCloud/.vs/StereoCloud/v15/.suo
*.db-shm
*.db-wal
*.filters
*.user
*.opendb
02_StereoInteractive/.vs/02_StereoInteractive/v15/.suo
MADDTitle/.vs/MADDTitle/v15/.suo
MADDTitle/.vs/MADDTitle/v15/.suo
MADDTitle/bin/data/logo.png
MADDTitle/logo.afphoto
